$branding-primary-color: rebeccapurple;
$branding-secondary-color: fuchsia;
$branding-font-size: 3rem;

header {
  .branding {
    color: $branding-primary-color;
    font-size: $branding-font-size;
  }
}