<div class="alert alert-dismissible alert-warning" role="alert">
  <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">×</span></button>
  Publication Finder is down. <a class="alert-link" href="https://status.ebsco.com/incidents/gq07tw0fjdjr">Visit the incident status page</a>.
</div>
<div class="alert alert-dismissible alert-info" role="alert">
  <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">×</span></button>
  Some Library <strong>services</strong> will be <em>down</em> Thursday morning, November 3, from 7 a.m. to 9 a.m., including DIBS and many of our <a class="alert-link" href="https://library.caltech.edu/search/repositories">repositories</a>.
</div>
<div class="alert alert-dismissible alert-info" role="alert">
  <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">×</span></button>
  SFL will be closed on Wednesday, Nov. 1, from 8a.m. to 5p.m. For all hours, visit our library website
</div>
