<div class="alert alert-dismissible alert-info" role="alert">
  <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">×</span></button>
  the rest of the month <strong>with formatting</strong> and <a class="alert-link" href="#">a link</a>
</div>
<div class="alert alert-dismissible alert-info" role="alert">
  <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">×</span></button>
  <strong>Get It @ Caltech</strong> replaces CaltechConnect! <a class="alert-link" href="/blog/Get-It-Caltech-replacing-CaltechConnect">Read more<span class="sr-only"> about changes to icons in our link resolver</span>…</a>
</div>
